/* The following block can be included in a custom.scss */

/* make the customizations */
$theme-colors: (
    "info": tomato,
    "danger": teal
);
$grid-breakpoints: ( xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1280px );
$container-max-widths: ( sm: 540px, md: 720px, lg: 960px, xl: 1180px );
$grid-gutter-width:           20px;
$enable-prefers-reduced-motion-media-query: false;
$font-family-base: 'dejavusanscondensed';

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";
// Required
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// Optional
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
// @import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";


@font-face {
	font-family: 'dejavusanscondensed';
	src: url('./fonts/dejavusanscondensed-webfont.eot');
	src: local('☺'), url('./fonts/dejavusanscondensed-webfont.ttf') format('truetype'), url('./fonts/dejavusanscondensed-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'squaremtavruli';
    src: url('./fonts/bpg_square_mtavruli_2009-webfont.eot');
    src: url('./fonts/bpg_square_mtavruli_2009-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bpg_square_mtavruli_2009-webfont.woff') format('woff'),
         url('./fonts/bpg_square_mtavruli_2009-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
	font-family: 'nino';
	src: url('./fonts/nino.eot');
  src: local('☺'), url('./fonts/nino.ttf') format('truetype'), url('./fonts/nino.svg') format('svg'),
  url('./fonts/nino.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

body {
  margin: 0;
  font-family: 'dejavusanscondensed', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.swiper-slide img{
  width:100%;
  height:auto;
}
#appartments-slider{
  height: 548px;
}
#basic-navbar-nav{
  align-self: stretch;
  align-items:stretch;
}
.border {
  display: block;
  width: 80px;
  height: 2px;
  background: #060606;
  margin: 0 auto;
  margin-bottom:20px;
}